mat-form-field {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25%;
    z-index: 1000;
}

.map-container {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    display: block;
}