<div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)">

  <mat-form-field appearance="fill">
    <mat-label>Where are you planning to go?</mat-label>
    <input matInput>
  </mat-form-field>
</div>