@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/leaflet/dist/leaflet.css";

body {
    margin: 0;
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
